/target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.lst
*.jar
*.original

/yufan/target/
/yufan/yufan_api/yufan_cart_api/target/
/yufan/yufan_api/yufan_item_api/target/
/yufan/yufan_api/yufan_user_api/target/
/yufan/yufan_api/yufan_order_api/target/
/yufan/yufan_cart/target/
/yufan/yufan_common/target/
/yufan/yufan_gateway/target/
/yufan/yufan_item/target/
/yufan/yufan_registry/target/
/yufan/yufan_sms/target/
/yufan/yufan_user/target/
/yufan/yufan_search/target/
/yufan/yufan_order/target/
/yufan/yufan_search/target/
/yufan/yufan_order/target/
/yufan/.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
